---
import Layout from '../layouts/Article.astro';
---

<Layout
	title="Sur nous"
	description="Le jardin des coïncidences"
	pubDate={new Date('2025-12-01')}
	heroImage="/media/Prototyper le futur bleue.jpg"
>
	<p>
		À la croisée du droit, des sciences et de l'art, Le Jardin des Coïncidences adopte une démarche transdisciplinaire, transgénérationnelle et transculturelle.
	</p>
</Layout>
