---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { title as SITE_TITLE, description as SITE_DESCRIPTION } from '../config/site.json';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>👋 Bonjour!</h1>
      <p>
          Bienvenue au site de test qui utilise les technologies suivantes :
      </p>
      <ul>
        <li>Astro <a href="https://github.com/madlzrd/astro-pages-cms-template">projet de test sur github</a></li>
        <li>Le CMS "pagescms"</li>
        <li>Déploiement sur cloudflare pages</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
